/* You can add global styles to this file, and also import other style files */

@import './2-helpers/helpers-dir';
@import './0-base/base-dir';
@import './1-components/components-dir';
@import './3-pages/pages-dir';

//helpers
//base
//components

//print

/*

https://sass-guidelin.es/#the-7-1-pattern
https://www.learnhowtoprogram.com/user-interfaces/building-layouts-preprocessors/7-1-sass-architecture
https://medium.com/swlh/how-to-structure-scss-in-an-angular-app-a1b8a759a028

*/
