@font-face {
    font-family: 'FiraCodeiScript';
    font-weight: 400;
    font-style: normal;
	src: url('../../fonts/FiraCodeiScript-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'FiraCodeiScript';
    font-weight: 400;
    font-style: italic;
	src: url('../../fonts/FiraCodeiScript-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'FiraCodeiScript';
    font-weight: 700;
    font-style: normal;
	src: url('../../fonts/FiraCodeiScript-Bold.ttf') format('truetype');
}